# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.sqlite3
env/
.venv/
venv/

# Django
core/staticfiles/

# Node
node_modules/
EtharaAiFrontend/dist/

# Env files
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid
